.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}






@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.news-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.news-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.news-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.news-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.news-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.news-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.news-text03 {
  color: #ffffff;
  display: flex;
}
.news-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.news-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.news-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.news-company1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.news-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.news-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-links1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-text08 {
  color: #ffffff;
}
.news-gallery {
  width: 100%;
  height: 1346px;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.news-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.news-information {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 60px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.news-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.news-header {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-branding2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-company2 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.news-location {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-caption {
  color: #151515;
  font-size: 24px;
  line-height: 36px;
}
.news-value {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.news-location1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-caption1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.news-value1 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.news-button2 {
  margin-top: var(--dl-space-space-halfunit);
}
.news-text09 {
  color: rgb(255, 255, 255);
}
.news-links2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.news-image1 {
  object-fit: cover;
}
@media(max-width: 991px) {
  .news-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .news-button {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .news-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .news-text03 {
    display: none;
  }
  .news-button1 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .news-text08 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .news-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .news-footer {
    flex-direction: column;
  }
  .news-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .news-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .news-company2 {
    font-size: 15px;
    line-height: 18px;
  }
  .news-caption {
    font-size: 14px;
    line-height: 21px;
  }
  .news-value {
    font-size: 16px;
    line-height: 24px;
  }
  .news-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .news-value1 {
    font-size: 16px;
    line-height: 24px;
  }
  .news-button2 {
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .news-text09 {
    font-style: normal;
    font-weight: 500;
  }
  .news-links2 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .news-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
@media(max-width: 767px) {
  .news-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .news-company {
    font-size: 18px;
    line-height: 20px;
  }
  .news-items {
    display: none;
  }
  .news-burger-menu {
    display: flex;
  }
  .news-button {
    padding: 12px;
  }
  .news-image {
    width: 14px;
    height: 14px;
  }
  .news-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .news-mobile-menu {
    padding: 16px;
  }
  .news-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
